svg {
	position: relative;
}

/* Banner and menu CSS */
#banner {
	display: block;
	height: 100px;
	position: relative;	
    text-align: center;
}

#menu {
    background-color: #7709b2; 
    width: 1100px;
    height: 48px;
    font-size: 20px; /* 16px; */
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

#menu ul {
    height: 48px;
	list-style-type: none;
    margin: 0px;
    padding: 12px 0px;
}

#menu li {  
	height: 48px;
	display: inline; 
	padding: 0px; 
	
}

#menu a:hover, a:active {
    color: #d3d3d3;
    background-color: #4b0770;
}

/*
 * The rollover effect won't be displayed in
 * Chrome/Safari unless the following block of
 * code is integrated.
 */
#menu ul li:hover a, #menu ul li:active a {
    color: #d3d3d3;
    background-color: #4b0770;	
}

#menu a:link, a:visited {
	display: inline;
  	font-weight: bold;
	color: #ffffff;
    background-color: #7709b2;
	padding: 12px 20.19px;
	text-align: center;
	text-decoration: none; 
	text-transform: uppercase;
}

/* Other CSS */

body {
	background-color: #000000;
	background-image:url('images/white_bg.png');
	background-position: center top;
	background-repeat:no-repeat;
	background-size:1100px 100%;
	font-family: "Aria", sans-serif;
	margin: 0 auto;
}

nav {
  position: absolute;
  left: 0px;
  width: 200px;
}

section {
  /* position is static by default */
  line-height: 140%;
  margin: 50px 300px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}


p {
    font-family: "Verdana", sans-serif;
    font-size: 26px;
    font-weight: bold;
    left: 40%;
    margin: 0;
    position: absolute;
}

#graphs {
	margin: 20px 300px;
}
.container {
  position: relative;
}

.head {
	/*border: 2px solid;
	border-color: #d3d3d3;*/
	display: block;
    margin: 0 auto;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.dataline {
    fill: none;
    stroke: rgb(19,117,255);
    stroke-width: 1px;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 160px;
	height:36px;
	padding: 2px;
	font: 9px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

div.sidebar
{
    position:absolute;
    fill: rgb(0,0,0);
    right:0px;
    bottom:0px;
    top:0px;
    width:100px;
}

circle:hover {
    fill: orange;
}